*,
html {
  box-sizing: border-box;
}

.containerHeader {
  border-bottom: solid 1px #d9d9d9;
}

/* -------------------- VARIABLES -------------------- */
/* -------------------- VARIABLES -------------------- */

:root {
  --green-primary: #31934d;
  --green-secondary: #93bf46;
  --gren-bghover-primary: #34b258;
  --green-bghover-secondary: #def4e4;
  --grey-border: #bdbdbd;
  --grey-placeholder: #a5a5a5;
  --grey-ligth-border: #d9d9d9;
  --grey-text: #494949;
  --grey-ligth-text: #a09f9f;
  --white: #ffffff;
  --color-link: #e17613;

  --radius-button-16: 16px;
  --radius-button-8: 8px;

  --button-text: 16px;
  --button-primary-border: 0px;
  --button-radius: 16px;
  --button-padding: 14px 16px;
  --button-max-width: 286px;
  --button-letter-spacing: 0.03em;
  --button-margin: 6px 0 6px 0;

  --imput-margin: 6px 0 6px 0;
}
